.html-to-svg-tab {
	padding: 15px;
}
.html-to-svg label {
	margin-bottom: 5px;
	display: inline-block;
}
.html-to-svg input[type="text"],
.html-to-svg textarea {
	width: 500px;
	display: block;
}
.html-to-svg textarea {
	height: 100px;
}
.html-to-svg__actions,
.html-to-svg__result,
.html-to-svg__field:not(:first-child) {
	margin-top: 15px;
}